@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Light.ttf");
}

body {
  background: url("../images/bg.jpg") fixed center/cover;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
}

body a {
  text-decoration: none;
}

body h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 2px;
}

body h1, body h2, body h3, body label, body h6, body .button {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

body p, body h4, body h5 {
  font-family: "Merriweather", sans-serif;
}

body label, body h6, body .button {
  color: #090909;
}

body .button {
  font-weight: 900;
  letter-spacing: 1px;
  border: #090909 1px solid;
  padding: 10px 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .button:hover {
  background: #e1dfdf;
  color: whitesmoke;
}

header .container {
  text-align: center;
  color: whitesmoke;
  margin: 100px 0;
}

header p {
  margin: 50px 0;
}

header i {
  border: 2px whitesmoke solid;
  padding: 15px;
  border-radius: 50%;
}

nav {
  width: 80%;
  margin: 0 auto;
  background: rgba(128, 128, 128, 0.31);
  color: whitesmoke;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 930px) {
  nav .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-left .container1, nav .nav-left .container2, nav .nav-left .container3 {
  margin: 0 20px 0 0;
  cursor: pointer;
}

@media screen and (max-width: 930px) {
  nav .nav-left .container1, nav .nav-left .container2, nav .nav-left .container3 {
    margin-right: 30px;
  }
}

@media screen and (max-width: 930px) {
  nav .nav-left h3 {
    font-size: 0.8rem;
  }
}

nav .nav-left .container1:hover {
  background: #e1dfdf;
  color: #090909;
}

nav .nav-left .container2:hover {
  background: #e1dfdf;
  color: #090909;
}

nav .nav-left .container3:hover {
  background: #e1dfdf;
  color: #090909;
}

nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-right i {
  margin: 0 20px;
}

@media screen and (max-width: 930px) {
  nav .nav-right i {
    display: none;
  }
}

.stories {
  width: 80%;
  margin: 0 auto;
  background: whitesmoke;
}

.stories .main-story {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 50%;
}

.stories .main-story h4 {
  margin: 0;
  font-weight: 200;
  padding: 50px;
  position: relative;
}

.stories .main-story h4:after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  height: 1px;
  width: 50%;
  background: #e1dfdf;
  left: 60%;
}

@media screen and (max-width: 940px) {
  .stories .main-story h4:after {
    width: 30%;
    left: 70%;
  }
}

.stories .main-story h4:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  height: 1px;
  width: 50%;
  background: #e1dfdf;
  right: 60%;
}

@media screen and (max-width: 940px) {
  .stories .main-story h4:before {
    width: 30%;
    right: 70%;
  }
}

.stories h2, .stories p, .stories img {
  margin: 10px 0 50px 0;
}

.stories p {
  font-style: italic;
}

.stories img {
  width: 80%;
}

.other-stories .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
}

@media screen and (max-width: 811px) {
  .other-stories .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 811px) {
  .other-stories .container img {
    width: 80%;
  }
}

.other-stories .left-story, .other-stories .right-story {
  text-align: center;
  border: #e1dfdf 1px solid;
  width: 761px;
  height: 820px;
}

@media screen and (max-width: 811px) {
  .other-stories .left-story, .other-stories .right-story {
    width: 100%;
    border-right: none;
    border-left: none;
    border-bottom: none;
  }
}

.other-stories .left-story p, .other-stories .right-story p {
  line-height: 30px;
  padding: 0px 100px;
}

@media screen and (max-width: 811px) {
  .other-stories .right-story {
    border-top: none;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  background: whitesmoke;
  margin: 30px auto;
  -webkit-filter: brightness(0.98);
          filter: brightness(0.98);
  height: 580px;
}

@media screen and (max-width: 800px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

footer form, footer .contacts {
  border-right: #e1dfdf 1px solid;
  width: 100%;
  padding: 30px 0;
}

footer form .email, footer form .name, footer form .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 20px auto;
}

@media screen and (max-width: 800px) {
  footer form .email, footer form .name, footer form .message {
    width: 75%;
    margin: 20px;
  }
}

footer form .message {
  margin: 20px auto 60px auto;
}

@media screen and (max-width: 800px) {
  footer form .message {
    width: 80%;
    margin: 20px;
  }
}

footer form label {
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  footer form label {
    width: 100%;
    margin: 20px;
  }
}

footer form input {
  padding: 10px;
  -webkit-filter: brightness(0.98);
          filter: brightness(0.98);
}

@media screen and (max-width: 800px) {
  footer form input {
    width: 100%;
    margin: 20px;
  }
}

footer form textarea {
  -webkit-filter: brightness(0.98);
          filter: brightness(0.98);
  height: 165 px;
  resize: none;
}

@media screen and (max-width: 800px) {
  footer form textarea {
    width: 100%;
    margin: 20px;
    height: 200px;
  }
}

footer form .button {
  margin: 0px 0 0 10%;
}

@media screen and (max-width: 800px) {
  footer form .button {
    margin: 0px 0 0 8%;
  }
}

footer .contacts {
  padding: 0;
}

.contacts .adress, .contacts .phone, .contacts .email, .contacts .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: #e1dfdf 1px solid;
  height: 143px;
}

.contacts h6, .contacts p {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

.contacts h6 {
  font-size: 0.9rem;
  margin: 0 150px 0 30px;
}

@media screen and (max-width: 800px) {
  .contacts h6 {
    margin: 0 30px 0 30px;
  }
}

.contacts p {
  font-size: 0.9rem;
}

.contacts i {
  margin: 0 10px 0 0;
  border: #e1dfdf 1px solid;
  width: 15px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}

.contacts .social h6 {
  margin: 0 140px 0 30px;
}

@media screen and (max-width: 800px) {
  .contacts .social h6 {
    margin: 0 20px 0 30px;
  }
}
/*# sourceMappingURL=index.css.map */